<app-orders-by-days></app-orders-by-days>

<app-title [prefix]="'Heute'" [name]="' bestellt'" class="center" />
<div class="table-body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Vorname Kind</th>
        <th scope="col">Nachname Kind</th>
        <th scope="col">Klasse</th>
        <th scope="col"></th>
        <th scope="col">Menu</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let merged of mergedOrders">
        <td>{{ merged.user.firstNameChild }}</td>
        <td>{{ merged.user.firstNameChild }}</td>
        <td>{{ merged.user.class }}</td>
        <td>{{ merged.user.letter }}</td>
        <td>{{ merged.order.foodName }}</td>
      </tr>
    </tbody>
  </table>
</div>
