$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.title {
  @media (max-width: $mobile) {
    display: none;
  }
}

.subtitle {
  @media (max-width: $mobile) {
    display: none;
  }
}

p {
  text-align: center;
}

span {
  color: var(--main-color);
}

.h2 {
  text-align: center;
}

.two-buttons {
  display: flex;
  justify-content: center;
}

.table-body {
  display: flex;
}

table {
  margin: 0.3rem auto;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: left;
}

th {
  text-align: center;
}

table thead {
  color: #222;
}

table tbody {
  color: #444;
}

td {
  border-bottom: 1px dashed #999;
}

.center {
  text-align: center;
}

.name {
  width: 5rem;
  font-weight: 700;
}
