<h1 class="h2 mb16 title"><span>Bestellungen</span></h1>
<div class="items mb16">
  <div class="item">
    <div class="item-title">
      <div>Heute</div>
    </div>
    <div class="food-item__title">
      <div class="food-name">Menge</div>
      <div class="food-price">20</div>
    </div>
  </div>

  <div class="item">
    <div class="item-title">
      <div>Morgen</div>
    </div>
    <div class="food-item__title">
      <div class="food-name">Menge</div>
      <div class="food-price">20</div>
    </div>
  </div>

  <div class="item">
    <div class="item-title">
      <div>Diese Woche</div>
    </div>
    <div class="food-item__title">
      <div class="food-name">Menge</div>
      <div class="food-price">250</div>
    </div>
  </div>

  <div class="item">
    <div class="item-title">
      <div>Nächste Woche</div>
    </div>
    <div class="food-item__title">
      <div class="food-name">Menge</div>
      <div class="food-price">250</div>
    </div>
  </div>
</div>
