<div class="form-container">
  <h1 class="h2 mb16 center"><span>Neue</span> Lebensmittel</h1>
  <form class="form">
    <div class="control">
      <label for="txtName" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="formData.name"
        class="form-control"
        id="txtName"
      />
    </div>
    <div class="control">
      <label for="txtWeek" class="form-label">Week</label>
      <input
        type="text"
        name="week"
        [(ngModel)]="formData.week"
        class="form-control"
        id="txtWeek"
      />
    </div>
    <div class="control">
      <label for="txtPrice" class="form-label">Price</label>
      <input
        type="text"
        name="price"
        [(ngModel)]="formData.price"
        class="form-control"
        id="txtPrice"
      />
    </div>
    <div class="control">
      <label for="txtDescription" class="form-label">Description</label>
      <input
        type="text"
        name="description"
        [(ngModel)]="formData.description"
        class="form-control"
        id="txtDescription"
      />
    </div>
    <button type="button" (click)="create()" class="btn">
      Zum Menü hinzufügen
    </button>
  </form>
</div>
