<header class="header" [class.menu-open]="openMenu">
  <div class="header__container">
    <a routerLink="" class="header__logo">
      <img src="/logo.svg" alt="Logo" />
      <div>Waldorf Menu</div>
    </a>
    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item" *ngFor="let menuItem of menuItems">
            <a routerLink="{{ menuItem.link }}" class="menu__link">{{
              menuItem.name
            }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__actions">
      <a routerLink="/login" class="header__button">Login</a>
      <nav>
        <ul class="client-date">
          <li class="menu-container-user">
            <a routerLink="/dashboard">John</a>
            <div class="menu-user">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/cart-page">Cart</a>
              <a routerLink="/history">History</a>
              <a>Logout</a>
            </div>
          </li>
        </ul>
      </nav>
      <!-- <app-burger></app-burger> -->
      <button
        type="button"
        class="menu__icon icon-menu"
        (click)="openMenu = !openMenu"
      >
        <span></span>
      </button>
    </div>
  </div>
</header>
