<header class="header" [class.menu-open]="openMenu">
  <div class="header__container">
    <a routerLink="" class="header__logo">
      <img src="/logo.svg" alt="Logo" />
      <div>Waldorf Menu</div>
    </a>
    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item" *ngFor="let menuItem of menuItems">
            <a routerLink="{{ menuItem.link }}" class="menu__link">{{
              menuItem.name
            }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__actions">
      <div class="client-name">
        Vorname <br />
        Nachname
      </div>
      <a routerLink="/auth" class="header__button">Login</a>
      <button
        type="button"
        class="menu__icon icon-menu"
        (click)="openMenu = !openMenu"
      >
        <span></span>
      </button>
    </div>
  </div>
</header>
