<header class="header" [class.menu-open]="openMenu">
  <div class="header__container">
    <a routerLink="" class="header__logo">
      <img src="/logo.svg" alt="Logo" />
      <div>Waldorf Menu</div>
    </a>
    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item" *ngFor="let menuItem of menuItems">
            <a routerLink="{{ menuItem.link }}" class="menu__link">{{
              menuItem.name
            }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__actions">
      <div *ngIf="!user.token">
        <a routerLink="/login" class="header__button">Login</a>
      </div>
      <nav>
        <ul class="client-date">
          <li *ngIf="user.token" class="menu-container-user">
            <a>{{ user.firstName }}</a>
            <div class="menu-user">
              <a routerLink="/profile-page">Profil</a>
              <a routerLink="/history">Geschichte</a>
              <a (click)="logout()">Ausloggen</a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="cart">
        <div class="cart__icon">
          <a routerLink="/cart-page">
            <img src="/svg/cart.svg" alt="Cart" />
          </a>
        </div>
        <div *ngIf="totalCount > 0" class="cart_quantity">{{ totalCount }}</div>
      </div>
      <button
        type="button"
        class="menu__icon icon-menu"
        (click)="openMenu = !openMenu"
      >
        <span></span>
      </button>
    </div>
  </div>
</header>
