<footer>
  <div class="footer__menu">
    <nav class="footer__body">
      <ul class="menu__list">
        <li class="menu__item">
          <a routerLink="menu" class="menu__link">
            <lucide-icon [img]="utensils" class="my-icon"></lucide-icon>
          </a>
        </li>
        <li class="menu__item">
          <div class="cart">
            <div class="cart__icon">
              <a routerLink="/cart">
                <img src="/svg/cart.svg" alt="Cart" />
              </a>
            </div>
            <div *ngIf="totalCount > 0" class="cart_quantity">
              {{ totalCount }}
            </div>
          </div>
        </li>
        <li class="menu__item">
          <a routerLink="history" class="menu__link">
            <lucide-icon [img]="calendar" class="my-icon"></lucide-icon>
          </a>
        </li>
        <li class="menu__item">
          <a routerLink="login" class="menu__link">
            <lucide-icon [img]="user" class="my-icon"></lucide-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
