$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

@media (min-width: $tablet) {
  footer {
    display: none;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.footer__menu {
  background-color: var(--dark-color);
  height: 70px;
  color: var(--white-color);
}

.menu__list {
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
