$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.footer__menu {
  background-color: var(--dark-color);
  height: 70px;
  color: var(--white-color);
}

.menu__list {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
