<div class="container">
  <app-title colorTitle="Unsere" title=" Kontakte" class="mb16" />

  <div class="contacts">
    <div class="contact-item">
      <div>
        <img src="/assets/svg/mail.svg" alt="Mail" />
      </div>
      <span>Email: waldorf-schwerin&#64;gmail.com</span>
    </div>
    <div class="contact-item">
      <div>
        <img src="/assets/svg/map.svg" alt="Adresse" />
      </div>

      <span>Adresse: Mecklenburgstraße 9, 19053 Schwerin</span>
    </div>
    <div class="contact-item">
      <div>
        <img src="/assets/svg/phone.svg" alt="Telefon" />
      </div>
      <span>Telefon: 0152 1234567</span>
    </div>
  </div>
</div>

<app-bg-logo [logoName]="'Yellow'" />
