.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.control input {
  width: 454px;
  @media (max-width: var(--mobile-small)) {
    width: 100%;
  }
}

.bottom-text {
  margin-top: 1rem;
  max-width: 350px;
  text-align: center;
}

.password {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
