<div class="container">
  <div class="mb16 header"></div>

  @if (!isSuccess) {
  <app-title colorTitle="Passwort" title=" zurücksetzen" class="mb16 center" />
  <p class="center text">Neues Passwort eingeben</p>
  } @if (isSuccess) {<app-title
    colorTitle="Passwort"
    title=" geändert"
    class="mb16 center"
  />
  <p class="center text">Ihr Passwort wurde erfolgreich geändert.</p>
  }

  <app-reset-password-form (success)="isSuccess = $event" />
</div>

<app-bg-logo logoName="Orange" />
