$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

span {
  color: var(--main-color);
}

.header {
  width: 454px;
  max-width: 100%;
}

.link {
  font-size: 1.1rem;
  max-width: 454px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.arrow {
  transform: rotate(90deg);
  display: inline-block;
}

.back:hover {
  text-decoration: underline;
}

.text {
  width: 454px;
  max-width: 100%;
  color: var(--gray-color);
  font-size: 0.9rem;
}
