<div class="table-container">
  <h3 class="table-header">Order History for User ID: {{ userId }}</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Menu Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.date }}</td>
        <td>{{ order.foodName }}</td>
        <td>{{ order.foodPrice | currency }}</td>
      </tr>
    </tbody>
  </table>
  <div class="total">
    <strong>Total Price:</strong> {{ totalPrice | currency }}
  </div>
</div>
