$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

span {
  color: var(--main-color);
}

.calender-container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: $mobile) {
  .calender-container-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

p {
  text-align: center;
}
