<div class="container">
  <div class="calender-container-header">
    <div class="calender-container__title">
      <app-title [prefix]="'Speise'" [name]="'plan'" />
      <app-color-palette
        [currentColorScheme]="currentColorScheme"
        (colorSchemeChanged)="onColorSchemeChanged($event)"
      ></app-color-palette>
    </div>

    <app-week-calendar
      (weekChanged)="onWeekChanged($event)"
    ></app-week-calendar>
  </div>

  <div class="items mt16 mb16">
    <app-food-item
      class="food-item"
      *ngFor="let foodItem of currentWeekFoodItems; let i = index"
      [style.background-color]="getColor(i)"
      [food]="foodItem"
      (foodChecked)="onFoodChecked($event)"
    ></app-food-item>
  </div>

  <div class="mb72">
    <button class="btn" (click)="goToCart()">Zum Warenkorb</button>
  </div>
</div>

<app-bg-logo [logoName]="'Light'" />
