$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

span {
  color: var(--main-color);
}

.calender-container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: $mobile) {
  .calender-container-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

.calender-container__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  @media (max-width: $mobile) {
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 6px;
  }
}

.color-scheme {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  background-color: #23b12324;
  color: #666;
  padding: 0.5rem;
  border-radius: 10px;
}

.color-scheme {
  &:hover,
  &:focus-visible {
    background-color: #23b12339;
  }
}

.color-scheme__button {
  width: 24px;
  height: 24px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

@media (max-width: $mobileSmall) {
  .items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

.food-item {
  border-radius: 8px;
}

p {
  text-align: center;
}
