.calender-container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 600px) {
  .calender-container-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

.calender-container__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  @media (max-width: var(--mobile)) {
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 6px;
  }
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: var(--mobile-small)) {
  .items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}

.food-item {
  border-radius: 8px;
}

p {
  text-align: center;
}
