<div class="container">
  <div class="calender-container-header">
    <h1 class="h2"><span>Speise</span>plan</h1>
    <app-week-calendar
      (weekChanged)="onWeekChanged($event)"
    ></app-week-calendar>
  </div>

  <div class="items mt16 mb16">
    <app-food-item
      *ngFor="let foodItem of currentWeekFoodItems"
      [food]="foodItem"
      (foodChecked)="onFoodChecked($event)"
    ></app-food-item>
  </div>

  <div class="mb72">
    <button class="btn" (click)="goToCart()">In den Warenkorb</button>
  </div>
</div>
