<div class="center mb16">
  <button class="btn btn-orange" (click)="exportToPDF()">
    Als PDF speichern
  </button>
</div>

<h1 class="h3 center mb16">
  Bestellungen von
  <span>{{ user?.firstNameChild }} {{ user?.lastNameChild }}</span>
</h1>
<p class="center mb16">Ihre Kundennummer: {{ user?.id }}</p>

<div class="user-details mb16">
  <p>{{ user?.firstName }} {{ user?.lastName }}</p>
  <p>{{ user?.street }} {{ user?.number }},</p>
  <p>{{ user?.postalCode }} {{ user?.city }}</p>
</div>

<app-month-switcher
  (monthChanged)="onMonthChanged($event)"
></app-month-switcher>

<app-order-table
  [currentMonth]="currentMonth"
  [currentYear]="currentYear"
></app-order-table>
