<div class="center mb16">
  <button class="btn btn-orange" (click)="exportToPDF()">
    Als PDF speichern
  </button>
</div>

<h1 class="h2 center mb16">
  Bestellungen von
  <span>{{ userData?.firstNameChild }} {{ userData?.lastNameChild }}</span>
</h1>
<p class="center">Ihre Kundennummer: {{ userData?.id }}</p>

<div class="user-details">
  <p>{{ userData?.firstName }} {{ userData?.lastName }}</p>
  <p>{{ userData?.street }} {{ userData?.number }},</p>
  <p>{{ userData?.postalCode }} {{ userData?.city }}</p>
</div>

<app-order-table></app-order-table>
