<div class="container">
  <app-title colorTitle="Waren" title="korb" class="mb16" />

  <p class="mb16 text">Hier finden Sie Ihre Bestellungen</p>

  @if (cart.items.length === 0) {
  <div class="mb16">
    <lucide-icon
      [img]="shoppingBasket"
      color="var(--gray-color)"
      [size]="100"
      class="my-icon"
    ></lucide-icon>
  </div>

  <p class="mb16 max-width-450">
    Ihr Warenkorb ist leer. Gehen Sie zurück zum Menü und geben Sie Ihre
    Bestellung auf.
  </p>
  <div class="mt32">
    <a routerLink="/menu" class="btn">Zurück zum Menü</a>
  </div>
  } @if (cart.items.length > 0) {
  <div class="items mb16">
    @for (cartItem of cart.items; track $index) {
    <div
      class="item"
      [ngClass]="{ 'item-cancel': cartItem.order.foodPrice < 0 }"
    >
      <div class="food-left">
        <div>{{ cartItem.order.date }}</div>
        <div>{{ cartItem.order.dayName }}</div>
      </div>

      <div class="food-right">
        <div class="food-name">{{ cartItem.order.foodName }}</div>
        <div class="food-price">
          {{ cartItem.order.foodPrice | currency : "EUR" }}
        </div>
        <div>
          <button class="icon" (click)="removeFromCart(cartItem)">
            <lucide-icon
              [img]="trash2"
              color="var(--red-color)"
              [size]="18"
              class="my-icon"
            ></lucide-icon>
          </button>
        </div>
      </div>
    </div>
    }
  </div>

  <p class="mb16 text">
    Bestellungen
    <span>{{ cart.totalCount }}</span>
  </p>

  <p class="mb16 text">
    Gesamtpreis
    <span>{{ cart.totalPrice | currency : "EUR" }}</span>
  </p>

  <div class="two-buttons">
    <button class="btn btn-cancel btn-small mb16" (click)="clearCart()">
      Alles löschen
    </button>
    <button class="btn btn-small mb72" (click)="placeOrder()">Bestellen</button>
  </div>
  }
</div>

<app-bg-logo [logoName]="'Red'" />
