<app-modal
  title="Bestellung aufgegeben"
  *ngIf="modalService.isVisible$ | async"
>
</app-modal>

<div class="container">
  <app-title colorTitle="Waren" title="korb" class="mb16" />

  <p class="mb16 subtitle">Hier finden Sie Ihre Bestellungen</p>

  <div class="items mb16">
    <div
      class="item"
      *ngFor="let cartItem of cart.items"
      [ngClass]="{ 'item-cancel': cartItem.order.foodPrice < 0 }"
    >
      <div class="food-left">
        <div>{{ cartItem.order.date }}</div>
        <div>{{ cartItem.order.dayName }}</div>
      </div>

      <div class="food-right">
        <div class="food-name">{{ cartItem.order.foodName }}</div>
        <div class="food-price">
          {{ cartItem.order.foodPrice | currency : "EUR" }}
        </div>
        <div>
          <button class="icon" (click)="removeFromCart(cartItem)">
            <lucide-icon
              [img]="trash2"
              color="var(--red-color)"
              [size]="18"
              class="my-icon"
            ></lucide-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <p class="mb16 text">
    Bestellungen
    <span>{{ cart.totalCount }}</span>
  </p>

  <p class="mb16 text">
    Gesamtpreis
    <span>{{ cart.totalPrice | currency : "EUR" }}</span>
  </p>

  <button class="btn btn-cancel mb16" (click)="clearCart()">
    Alles löschen
  </button>
  <button class="btn mb72" (click)="placeOrder()">Bestellen</button>
</div>

<app-bg-logo [logoName]="'Red'" />
