span {
  color: var(--main-color);
}

svg {
  width: 24px;
  height: 24px;
}

.link {
  font-size: 1.1rem;
}

.login {
  text-decoration: underline;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
