<div class="item">
  <div class="item-title" (click)="showDetails = !showDetails">
    <div class="date">
      <div>
        {{ date.day }}
      </div>
      <div>
        {{ date.dayOfTheWeek }}
      </div>
    </div>
    <div class="item-right">
      <div *ngIf="isCheckboxChecked" class="check">
        <img src="/assets/svg/check.svg" alt=">" />
      </div>
      <div class="arrow-down">
        <img src="/assets/svg/arrow-down.svg" alt=">" />
      </div>
    </div>
  </div>

  <div class="food-item" *ngIf="showDetails">
    <div class="food-item-top">
      <div class="food-item__title">
        <div class="food-name">{{ food.name }}</div>

        <div class="food-price">{{ food.price }} €</div>
      </div>
      <div class="food-description text">
        {{ food.description }}
      </div>
    </div>
    <div class="food-item-bottom">
      <div>
        <label class="checkbox-block">
          <input
            type="checkbox"
            [(ngModel)]="food.checked"
            (change)="onCheckboxChange()"
            [disabled]="isCheckboxDisabled"
          />
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="check-text">
        <label>Wählen</label>
      </div>
    </div>
  </div>
</div>
