@if(!orders.length) {
<p class="center">Sie haben diesen Monat nichts bestellt.</p>

} @else {
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Datum</th>
      <th>Tag</th>
      <th>Menu</th>
      <th>Preis</th>
    </tr>
  </thead>

  <tbody>
    @for(order of orders; let i = $index; track order.id) {
    <tr>
      <td>{{ i + 1 }}</td>
      <td>{{ order.date }}</td>
      <td>{{ order.day }}</td>
      <td>{{ order.name }}</td>
      <td>{{ order.price | currency : "EUR" }}</td>
    </tr>
    }
  </tbody>
</table>
}

<p class="center mb72">
  Preis aller Bestellungen in diesem Monat
  <span>{{ totalPrice | currency : "EUR" }}</span>
</p>
