$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.calendar {
  width: 360px;
  @media (max-width: $mobileSmall) {
    width: 100%;
  }
}

.calendar-headline {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.calendar-headline-month {
  font-weight: 600;
  font-size: 1.1rem;
}

.calendar-headline-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.calendar-headline-control {
  cursor: pointer;
  background-color: var(--main-color);
  padding: 6px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

.calendar-headline-control:hover {
  background-color: var(--main-hover-color);
}

.calendar-headline-control-text {
  cursor: pointer;
  text-align: center;
}

.calendar-headline-control-text:hover {
  text-decoration: underline;
}

.calendar-weeks-grid {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  margin-bottom: 4px;
  color: rgb(81, 81, 81);
}

.calendar-weeks-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  border-top: 1px solid rgb(190, 190, 190);
  border-left: 1px solid rgb(190, 190, 190);
}

.calendar-grid-cell {
  padding: 5px;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  border-right: 1px solid rgb(190, 190, 190);
  cursor: pointer;
}

.calendar-grid-cell:hover {
  background: #cdcdcd;
}

.calendar-grid-cell-active {
  background-color: var(--main-color);
  color: var(--white-color);
}

.schedule {
  margin-left: 10px;
}

.schedule-headline {
  font-weight: 600;
  margin-bottom: 30px;
}
