<h2 class="h3 center">Suchen</h2>

<form [formGroup]="searchForm">
  <div class="form">
    <div class="controls">
      <div class="control last-name">
        <label for="last-name">Nachname Eltern</label>
        <input
          type="text"
          name="last-name"
          class="form-control"
          id="txtLastName"
          formControlName="lastName"
        />
      </div>

      <div class="control first-name">
        <label for="first-name">Vorname Eltern</label>
        <input
          type="text"
          name="first-name"
          class="form-control"
          id="txtFirstName"
          formControlName="firstName"
        />
      </div>

      <div class="control id">
        <label for="last-name">Kunden Nummer</label>
        <input
          type="text"
          name="id"
          class="form-control"
          id="txtId"
          formControlName="id"
        />
      </div>

      <!-- <div class="control">/></div> -->
      <!-- 
      <div class="control">
        <label for="last-name-child">Nachname des Kindes</label>
        <input
          type="text"
          name="last-name"
          class="form-control"
          id="txtLastNameChild"
        />
      </div>

      <div class="control">
        <label for="first-name">Vorname des Kindes</label>
        <input
          type="text"
          name="first-name-child"
          class="form-control"
          id="txtFirstNameChild"
        />
      </div>

      <div class="control">
        <label for="first-name">Klasse</label>
        <input type="text" name="class" class="form-control" id="txtClass" />
      </div> -->
    </div>
  </div>
</form>
