<div class="container">
  <div class="mb16 header">
    <a class="link" routerLink="/login">
      <div class="arrow">
        <img src="/assets/svg/arrow-down.svg" alt="" />
      </div>
      <div class="back">Zurück</div>
    </a>
  </div>
  @if (!isSuccess) {
  <app-title colorTitle="Passwort" title=" vergessen" class="mb16" />
  <p class="center text">
    Geben Sie Ihre registrierte E-Mail-Adresse ein, um dein Passwort
    zurückzusetzen.
  </p>
  } @if (isSuccess) {<app-title
    colorTitle="E-Mail"
    title=" gesendet"
    class="mb16"
  />
  <p class="center text">
    Überprüfen Sie Ihre E-Mail und folgen Sie dem darin enthaltenen Link.
  </p>
  }

  <app-forgot-password-form (success)="isSuccess = $event" />
</div>

<app-bg-logo logoName="Orange" />
