<div class="container">
  <div class="mb16 header">
    <a class="link" routerLink="/login">
      <div class="arrow">
        <img src="/assets/svg/arrow-down.svg" alt="" />
      </div>
      <div class="back">Zurück</div>
    </a>
  </div>
  <h2 class="h2 center mb16"><span>Passwort </span>vergessen</h2>
  <p class="center text">
    Geben Sie Ihre registrierte E-Mail-Adresse ein, um dein Passwort
    zurückzusetzen.
  </p>

  <app-forgot-password-form />
</div>

<app-bg-logo logoName="Orange" />
