@if(!orders.length) {
<div class="center mb16">
  <lucide-icon
    [img]="layoutList"
    color="var(--gray-color)"
    [size]="100"
    class="my-icon"
  ></lucide-icon>
</div>
<p class="center">Sie haben diesen Monat noch nichts bestellt.</p>
} @else {
<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Datum</th>
      <th>Wochentag</th>
      <th>Menu</th>
      <th>Preis</th>
    </tr>
  </thead>
  <tbody>
    @for(order of orders; let i = $index; track order.id) {
    <tr>
      <td>{{ i + 1 }}</td>
      <td>{{ order.date }}</td>
      <td>{{ order.dayName }}</td>
      <td>{{ order.foodName }}</td>
      <td>{{ order.foodPrice | currency : "EUR" }}</td>
    </tr>
    }
  </tbody>
</table>

<p class="center mb72 bold">
  Bestellungen für {{ currentMonthName }}:
  <span class="bold">{{ totalPrice | currency : "EUR" }}</span>
</p>
}
