<app-header></app-header>

<div class="container mt72">
  <h1 class="h2 mb16"><span>Waldorf</span> Menu</h1>

  <p class="mb16">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe vitae
    accusantium amet laudantium nobis quia? Dicta nostrum voluptate culpa ea
    sit! Provident non perferendis laboriosam deserunt eveniet corporis maiores
    temporibus!
  </p>

  <div class="buttons">
    <button class="btn mb16">Bestellen</button>

    <button class="btn cancel-btn">Stornieren</button>
  </div>
</div>
