<div class="items">
  <div class="item" *ngFor="let foodItem of foodItems">
    <div class="item-title">
      <div class="date">
        <div>
          {{ foodItem.data }}
        </div>
        <div>
          {{ foodItem.day }}
        </div>
      </div>
      <div class="arrow-down">
        <lucide-icon [img]="chevronDown" class="my-icon"></lucide-icon>
      </div>
    </div>

    <div class="food-item">
      <div class="food-item-top">
        <div class="food-item__title">
          <div class="food-name">{{ foodItem.name }}</div>
          <div class="food-image">
            <lucide-icon
              [img]="vegan"
              [size]="24"
              color="green"
              class="my-icon"
            ></lucide-icon>
          </div>
          <div class="food-price">{{ foodItem.price }} €</div>
        </div>
        <div class="food-description text">
          {{ foodItem.description }}
        </div>
      </div>
      <div class="food-item-bottom">
        <div class="food-order">
          <div class="check-box">
            <app-check-box />
          </div>
          <div class="check-text">
            <label>Wählen</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
