<div class="month-navigation">
  <button class="btn btn-prev" (click)="goToPreviousMonth()">
    ← Previous Month
  </button>
  <span class="current-month"
    >{{ currentMonth | date : "MMMM" }} {{ currentYear }}</span
  >
  <button class="btn btn-next" (click)="goToNextMonth()">Next Month →</button>
</div>

@if(!orders.length) {
<p class="center">Sie haben diesen Monat noch nichts bestellt.</p>

} @else {

<table>
  <thead>
    <tr>
      <th>№</th>
      <th>Datum</th>
      <th>Wochentag</th>
      <th>Menu</th>
      <th>Preis</th>
    </tr>
  </thead>

  <tbody>
    @for(order of orders; let i = $index; track order.id) {
    <tr>
      <td>{{ i + 1 }}</td>
      <td>{{ order.date }}</td>
      <td>{{ order.dayName }}</td>
      <td>{{ order.foodName }}</td>
      <td>{{ order.foodPrice | currency : "EUR" }}</td>
    </tr>
    }
  </tbody>
</table>

<p class="center mb72">
  Bestellungen für diesen Monat
  <span class="bold">{{ totalPrice | currency : "EUR" }}</span>
</p>
}
