$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.header {
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
}

table {
  max-width: 50rem;
  margin: 0.3rem auto;
  padding: 0.5rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: left;
}

table thead {
  color: #222;
}

table tbody {
  color: #444;
}

span {
  color: var(--main-color);
}

.center {
  text-align: center;
}

.name {
  width: 5rem;
  font-weight: 700;
}
