<div class="container">
  <h2 class="h2 mb16 center"><span>Neues </span>Konto erstellen</h2>
  <div class="center mb16 link">
    Schon ein Benutzer? &nbsp;
    <a routerLink="/login" class="login">Hier anmelden</a>
  </div>
  <div class="center two-buttons">
    <a routerLink="/registration" class="btn btn-small btn-secondary btn-border"
      >Für Eltern</a
    >
    <a routerLink="/registration-teacher" class="btn btn-small btn-secondary"
      >Für Lehrer/in</a
    >
  </div>

  <form [formGroup]="form" (ngSubmit)="createNewUser()">
    <div class="form">
      <div class="form-main-column personal-data">
        <h3 class="h3 center">Persönliche Daten</h3>
        <div class="control user-email">
          <label for="email">E-Mail</label>
          <input
            id="email"
            type="email"
            name="email"
            [formControl]="form.controls.email"
          />
        </div>
        @if (emailIsInvalid) {
        <p class="control-error">
          Bitte geben Sie eine gültige E-Mail-Adresse ein.
        </p>
        }

        <div class="control">
          <label for="password">Passwort</label>
          <div class="password-input">
            <input
              id="password"
              [type]="isPasswordVisible() ? 'text' : 'password'"
              name="password"
              formControlName="password"
            />
            <button
              class="password-eye-btn"
              (click)="isPasswordVisible.set(!isPasswordVisible())"
            >
              <svg [icon]="!isPasswordVisible() ? 'eye' : 'eye-off'"></svg>
            </button>
          </div>
        </div>

        <div class="form-two-column user-names">
          <div class="control first-name">
            <label for="first-name">Vorname</label>
            <input
              type="text"
              id="first-name"
              name="first-name"
              formControlName="firstName"
            />
          </div>
          <div class="control last-name">
            <label for="last-name">Nachname</label>
            <input
              type="text"
              id="last-name"
              name="last-name"
              formControlName="lastName"
            />
          </div>
        </div>
        <div class="form-two-column user-names-child display-none">
          <div class="control">
            <input
              type="text"
              id="first-name-child"
              name="first-name-child"
              formControlName="firstNameChild"
            />
          </div>
          <div class="control">
            <label for="last-name">Nachname des Kindes</label>
            <input
              type="text"
              id="last-name-child"
              name="last-name-child"
              formControlName="lastNameChild"
            />
          </div>
        </div>
      </div>

      <div class="form-main-column address-and-school">
        <h3 class="h3 center">Adresse</h3>
        <div class="address">
          <div class="form-two-column">
            <div class="control">
              <label for="street">Straße</label>
              <input
                type="text"
                id="street"
                name="street"
                formControlName="street"
              />
            </div>

            <div class="control">
              <label for="number">Nummer</label>
              <input
                type="text"
                id="number"
                name="number"
                formControlName="number"
              />
            </div>
          </div>
          <div class="form-two-column">
            <div class="control">
              <label for="postal-code">Postleitzahl</label>
              <input
                type="text"
                id="postal-code"
                name="postal-code"
                formControlName="postalCode"
              />
            </div>
            <div class="control">
              <label for="city">Stadt</label>
              <input type="text" id="city" name="city" formControlName="city" />
            </div>
          </div>
        </div>
        <div class="control school">
          <label for="city">Schule</label>
          <select id="school" name="school" formControlName="school">
            <option value="Waldorf">Waldorf</option>
          </select>
        </div>
        <div class="control class display-none">
          <select id="class" name="class" formControlName="class">
            <option value=""></option>
          </select>
        </div>
        <div class="control letter display-none">
          <select id="letter" name="letter" formControlName="letter">
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>

    @if (form.dirty && form.touched && form.invalid) {
    <p class="control-error">
      Ungültiges Formular. Bitte überprüfen Sie Ihre Eingabedaten.
    </p>
    }

    <p class="two-buttons mb72">
      <button type="button" class="btn btn-cancel" (click)="onReset()">
        Zurücksetzen
      </button>
      <button type="submit" class="btn">Registrieren</button>
    </p>
  </form>
</div>
