<div class="container">
  <div class="form">
    <div class="form-main-column personal-data">
      <h3 class="h3 center">Persönliche Daten</h3>
      <div class="control user-email">
        <label for="email">E-Mail</label>
        <div class="input">vitaliy.pulupovuch&#64;gmail.com</div>
      </div>

      <div class="control">
        <label for="password">Passwort</label>
        <div class="input">**********</div>
      </div>

      <div class="form-two-column user-names">
        <div class="control first-name">
          <label for="first-name">Vorname</label>
          <div class="input">Vitalii</div>
        </div>
        <div class="control last-name">
          <label for="last-name">Nachname</label>
          <div class="input">Soloninko</div>
        </div>
      </div>
      <div class="form-two-column user-names-child">
        <div class="control">
          <label for="first-name">Vorname des Kindes</label>
          <div class="input">Alsu</div>
        </div>
        <div class="control">
          <label for="last-name">Nachname des Kindes</label>
          <div class="input">Soloninko</div>
        </div>
      </div>
    </div>

    <div class="form-main-column address-and-school">
      <h3 class="h3 center">Adresse</h3>
      <div class="address">
        <div class="form-two-column">
          <div class="control">
            <label for="street">Straße</label>
            <div class="input">Lubecker</div>
          </div>

          <div class="control">
            <label for="number">Nummer</label>
            <div class="input">88</div>
          </div>
        </div>
        <div class="form-two-column">
          <div class="control">
            <label for="postal-code">Postleitzahl</label>
            <div class="input">19053</div>
          </div>
          <div class="control">
            <label for="city">Stadt</label>
            <div class="input">Schwerin</div>
          </div>
        </div>
      </div>
      <h3 class="h3 mb16 mt16 center">Schule und Klasse</h3>
      <div class="drop-down-list">
        <div class="form-three-column">
          <div class="control school">
            <div class="input">Wahldorf</div>
          </div>
          <div class="control class">
            <div class="input">1</div>
          </div>
          <div class="control letter">
            <div class="input">A</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn">Ändern</button>
</div>
