<div class="container">
  <h2 class="h2 center mb16"><span>Anmelden</span></h2>
  <div class="center mb16 link">
    Sind Sie neu hier? &nbsp;
    <a routerLink="/registration" class="registration">Hier registrieren</a>
  </div>

  <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="control">
      <label for="email">E-Mail</label>
      <app-text-input
        [control]="fc.email"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      />
    </div>

    <div class="control">
      <label for="password">Passwort</label>
      <app-text-input
        [control]="fc.password"
        [showErrorsWhen]="isSubmitted"
        type="password"
        label="Password"
      />
    </div>

    <button class="btn mt16 login">Login</button>
  </form>
</div>
