span {
  color: var(--main-color);
}

.link {
  font-size: 1.1rem;
}

.registration {
  text-decoration: underline;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
}

.control-error {
  max-width: 454px;
}

.control input {
  width: 454px;
}
