<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 class="h2"><span>Login</span></h2>
  <div class="control email">
    <label for="email">Email Address</label>
    <input id="email" type="email" [formControl]="form.controls.email" />
  </div>

  <div class="control password">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
  </div>

  <button class="btn mt16 login">Login</button>

  @if (emailIsInvalid) {
  <p class="control-error">Please enter a valid email address.</p>
  } @if (passwordIsInvalid) {
  <p class="control-error">
    Please enter a valid password (must be at least 6 characters long and
    contain a questing mark).
  </p>
  }
</form>
