.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: var(--main-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;

  &:hover,
  &:focus-visible {
    background-color: var(--main-hover-color);
  }

  &.active {
    background: var(--main-hover-color);
  }
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
