<div class="container">
  <app-title colorTitle="Neues" title=" Konto erstellen" class="mb16" />

  <div class="center mb16 link">
    Schon ein Benutzer? &nbsp;
    <a routerLink="/login" class="login">Hier anmelden</a>
  </div>
  <div class="center two-buttons">
    <a
      routerLink="/registration"
      [queryParams]="{ teacher: false }"
      class="btn btn-small btn-secondary"
      [ngClass]="{ 'btn-border': isTeacher }"
      >Für Eltern</a
    >
    <a
      routerLink="/registration"
      [queryParams]="{ teacher: true }"
      class="btn btn-small btn-secondary"
      [ngClass]="{ 'btn-border': !isTeacher }"
      >Für Lehrer/in</a
    >
  </div>

  <app-registration-form />
</div>
