$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 2rem;
  @media (max-width: $tablet) {
    display: flex;
    flex-direction: column;
  }
}

.registration {
  text-decoration: underline;
}

.terms-and-conditions,
input {
  font-size: 16px;
}

.user-email input {
  width: 100%;
  justify-content: center;
}

.drop-down-list {
  display: grid;
  grid-template-columns: repeat(1fr 0.5fr 0.5fr);
}

span {
  color: var(--main-color);
}
