@if (!isSuccess) {
<form class="form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
  <div class="control">
    <label for="email">E-Mail</label>
    <app-text-input
      [control]="fc.email"
      [showErrorsWhen]="isSubmitted"
      type="email"
      label="Email"
    />
  </div>
  <button class="btn">Passwort zurückzusetzen</button>
</form>
} @if (isSuccess) {
<div class="mb16 mt16 center">
  <img src="/assets/svg/mail-check.svg" alt="Email" />
</div>
<button routerLink="/" class="btn">Zur Startseite</button>
}
