<app-title colorTitle="Kunden" title=" Suche" class="center mb16" />

<app-user-search-form [searchForm]="searchForm"> </app-user-search-form>

<app-users-table
  [users]="users"
  (edit)="editUser($event)"
  (remove)="onRemoveUser($event)"
  (userMonthOrders)="goToUserMonthOrders($event)"
></app-users-table>

<app-confirm-dialog
  [show]="showConfirm"
  [message]="'Möchten Sie das Kunden wirklich löschen?'"
  (confirm)="onConfirmRemove()"
  (cancel)="onCancelRemove()"
></app-confirm-dialog>

<div class="center mt16 mb16">
  <div *ngIf="!error && users.length === 0" class="info">
    Geben Sie etwas in die Suche ein, um einen Benutzer zu finden
  </div>
  <div *ngIf="error" class="error red">{{ error }}</div>
</div>
